/data/
/logs/
/documentation/
/.idea/
/DOCUMENTATION.txt
/Документация_новая.txt
/Исправления.txt
/Объяснения алгоритма.txt
/Объяснения алгоритма_new.txt
/Объяснения алгоритма_old.txt
/Полный отчет
/Технический отчет - МЕТРИКИ, ПОРОГИ,ТЕМПЕРАТУРЫ
/Технический отчет_new.txt
